<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>관리자 페이지</title>
		<link rel="stylesheet" href="/public/admin_styles.css" />
		<link rel="icon" type="image/x-icon" href="/public/favicon.png" />
	</head>
	<body></body>
</html>
