<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="UTF-8" />
		<title>λ…ΈνΈλ¶ λ€μ—¬ μ‹ μ²­</title>
		<link rel="stylesheet" href="/public/borrow_styles.css" />
		<link rel="icon" type="image/x-icon" href="/public/favicon.png" />
	</head>
	<body>
		<%- include("header.ejs") %>

		<div class="form-wrapper">
			<div class="form-box">
				<div class="icon">π’»</div>
				<h2>λ€μ—¬ μ‹ μ²­</h2>

				<form action="/borrow" method="POST">
					<input type="text" name="name" placeholder="μ΄λ¦„" required />
					<input type="text" name="studentId" placeholder="ν•™λ²" required />
					<input type="email" name="email" placeholder="μ΄λ©”μΌ" required />
					<input type="date" name="date" required />
					<label for="time" hidden></label>
					<span>μλ Ή μ‹κ°„</span>
					<select id="time" name="timeSlot" title="μλ Ή μ‹κ°„" required>
						<option value="μ¤μ „">μ¤ν”„λ‹ μ „ (8:25-35)</option>
						<option value="μ¤ν›„">μ μ‹¬μ‹κ°„ (12:50-1:00)</option>
					</select>

					<button type="submit">μ‹ μ²­ν•κΈ°</button>
				</form>
			</div>
		</div>

		<%- include("footer.ejs") %>
	</body>
</html>
