<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <title>λ…ΈνΈλ¶ λ€μ—¬ μ‹ μ²­</title>
  <link rel="stylesheet" href="/public/borrow_styles.css" />
</head>
<body>
  <%- include("header.ejs") %>

  <div class="form-wrapper">
    <div class="form-box">
      <div class="icon">π’»</div>
      <h2>λ€μ—¬ μ‹ μ²­</h2>

    <form action="/borrow" method="POST">
		<input type="text" name="name" placeholder="μ΄λ¦„" required />
		<input type="text" name="studentId" placeholder="ν•™λ²" required />
		<input type="email" name="email" placeholder="μ΄λ©”μΌ" required />
		<input type="date" name="date" required />
  	<label>
    	<input type="radio" name="timeSlot" value="μ¤μ „" required /> μ¤μ „
  	</label>
  	<label>
    	<input type="radio" name="timeSlot" value="μ¤ν›„" required /> μ¤ν›„
  	</label>

  	<button type="submit">μ‹ μ²­ν•κΈ°</button>
	</form>
    </div>
  </div>

  <%- include("footer.ejs") %>
</body>
</html>
