<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="UTF-8" />
		<title>λ…ΈνΈλ¶ λ€μ—¬ μ‹ μ²­</title>
		<link rel="stylesheet" href="/public/borrow_styles.css" />
	</head>
	<body>
		<%- include("header.ejs") %>
		<div class="form-box">
			<div class="icon">π’»</div>
			<h2>λ€μ—¬ μ‹ μ²­</h2>
			<input type="text" placeholder="μ΄λ¦„" />
			<input type="text" placeholder="ν•™λ²" />
			<input type="email" placeholder="μ΄λ©”μΌ" />

			<input type="date" placeholder="λ€μ—¬ μ‹μ‘μΌ" />
			<button>μ‹ μ²­ν•κΈ°</button>
		</div>
		<%-include("footer.ejs") %>
	</body>
</html>
