<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="/public/contact_styles.css" />
		<link rel="icon" type="image/x-icon" href="/public/favicon.png" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>노트북 대여하기</title>
	</head>
	<body>
		<%-include("header.ejs") %>
	</body>
</html>
