<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="/public/header_styles.css" />
		<link rel="icon" type="image/x-icon" href="/public/favicon.png" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
		<script src="https://kit.fontawesome.com/a914ae0fb8.js" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	</head>
	<body>
		<div class="grid-container">
			<div class="grid-item" id="upload">
				<a href="/articles/new" id="writersLink" style="display: none"><i class="fas fa-pen-fancy"></i></a>
			</div>
			<a href="/" class="title-bar"><img src="/public/logo.png" /></a>
			<div class="grid-item" id="profile">
				<span id="userName" style="display: none; margin-right: 10px; font-weight: bold"></span>

				<a href="/login" id="link"></a>

				<a href="/logout" id="logout" style="display: none">
					<i class="fa-solid fa-arrow-right-from-bracket"></i>
				</a>
			</div>
		</div>
	</body>

	<script>
		const linkElement = document.getElementById("link");
		const writerLink = document.getElementById("writersLink");
		const logoutLink = document.getElementById("logout");
		const userNameSpan = document.getElementById("userName");

		const serverUserID = "<%= sessionId %>"; // 유저 ID (없으면 "none")
		const serverUserName = "<%= sessionUserName %>"; // 유저 이름 (없으면 "none")

		if (serverUserID === "none") {
			linkElement.href = "/login";
			linkElement.textContent = "로그인";
			writerLink.style.display = "none";
			logoutLink.style.display = "none";
			userNameSpan.style.display = "none";
		} else {
			linkElement.href = "/profile/<%= sessionId %>";
			linkElement.textContent = ""; // 이름은 별도 span으로
			writerLink.style.display = "none";
			logoutLink.style.display = "inline";
			userNameSpan.style.display = "inline";
			userNameSpan.textContent = `${serverUserName}님`;
		}
	</script>
</html>