<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>title</title>
		<link rel="stylesheet" href="public/main_styles.css" />
	</head>
<<<<<<< HEAD
	<body>
		<h1>Welcome to EJS Template!</h1>
	</body>
=======
	<body></body>
>>>>>>> 61c65241dfa273ca7a60d18488725070d7163847
</html>
