<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Welcome</title>
		<link rel="stylesheet" href="/public/index_styles.css" />
		<link rel="icon" type="image/x-icon" href="/public/favicon.png" />
	</head>
	<body></body>
</html>
