<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Welcome</title>
		<link rel="stylesheet" href="/public/main_style.css" />
	</head>
	<body>
		<h1>🌟 Welcome to Supernova Project</h1>
		<p>This is the homepage rendered by <strong>EJS</strong>.</p>
	</body>
</html>
