<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="UTF-8" />
		<title>멘토링 인증</title>
		<link rel="stylesheet" href="/public/mentoring_styles.css" />
		<link rel="icon" type="image/x-icon" href="/public/favicon.png" />
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	</head>
	<body>
		<%- include("header.ejs") %>

		<div class="form-wrapper">
			<div class="form-box">
				<a class="icon" href="/" style="text-decoration: none">αω</a>
				<h2>멘토링 인증</h2>
				<form action="/mentoring" method="POST">
					<div id="forMethod">
						<select id="method" name="method" title="온라인/오프라인">
							<option value="" disabled selected>-- 멘토링 방법 선택 --</option>
							<option value="온라인">온라인</option>
							<option value="오프라인">오프라인</option>
						</select>
					</div>

					<input type="number" name="teamNumber" placeholder="팀 번호" value="<%= teamNumber %>" min="1" max="50" />

					<input type="date" name="date" id="date" />
					<div id="forTime">
						<select id="time" name="status" title="멘토링 진행 여부">
							<option value="" disabled selected>-- 멘토링 진행 여부 --</option>
							<option value="진행완료">진행완료</option>
							<option value="미진행">미진행</option>
							<option value="패스">패스</option>
							<option value="패스(자율)">패스(자율)</option>
						</select>
					</div>

					<button type="submit">인증하기</button>
				</form>
			</div>
		</div>

		<%- include("footer.ejs") %>

		<script>
			// 유효성 검사
			document.querySelector("form").addEventListener("submit", function (e) {
				const method = document.querySelector('select[name="method"]').value;
				const teamNumber = parseInt(document.querySelector('input[name="teamNumber"]').value.trim());
				const date = document.querySelector('input[name="date"]').value;
				const status = document.querySelector('select[name="status"]').value;

				if (!method || !teamNumber || teamNumber < 1 || teamNumber > 50 || !date || !status) {
					e.preventDefault();
					Swal.fire({
						icon: "error",
						title: "WARNING!",
						text: "모든 항목을 빠짐없이 정확하게 입력해주세요.",
					});
				}

				Swal.fire({
					icon: "success",
					title: `멘토링 인증 완료!`,
					html: `${method} ${teamNumber}팀의 멘토링 인증을 완료했습니다.
    `,
				}).then((result) => {
					if (result.isConfirmed) {
						// 확인 버튼 클릭 시 리디렉트
						window.location.href = "/index";
					}
				});
			});
		</script>
	</body>
</html>
