<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>회원가입</title>
		<link rel="stylesheet" href="/public/login_styles.css" />
		<link rel="icon" type="image/x-icon" href="/public/favicon.png" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	</head>
	<body>
		<div class="title">
			<h1>HAVEN CHRISTIAN SCHOOL</h1>
			<h2>Academic Team</h2>
		</div>

		<div class="login-box">
			<div class="icon">αω</div>
			<h2>Register</h2>
			<input type="text" placeholder="이름" />
			<input type="text" placeholder="학번" />
			<button>회원가입</button>
			<div class="bottom-text">이미 계정이 있으신가요? <a href="/login">로그인</a></div>
		</div>

		<footer>
			WEBSITE MADE BY <span class="footer-highlight"><a href="/404.ejs">SUPERNOVA</a></span>
		</footer>

		<div class="wave-container">
			<svg class="wave" viewBox="0 0 1440 320" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
				<defs>
					<linearGradient id="waveGradient" x1="0%" y1="0%" x2="0%" y2="100%">
						<stop offset="0%" stop-color="rgba(212, 185, 233, 0.6)" />
						<stop offset="100%" stop-color="rgba(205, 134, 255, 0.6)" />
					</linearGradient>
				</defs>
				<path fill="url(#waveGradient)" fill-opacity="1" d="M0,250 C300,400 1140,0 1440,300 L1440,0 L0,0 Z"></path>
			</svg>
		</div>
	</body>
</html>
