@import url("base.css");

body {
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	flex-direction: column;
	background: linear-gradient(to bottom right, #ffffff, #f2f2f2);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	overflow-x: hidden;
}

.wave-container {
	position: absolute;
	bottom: 0;
	width: 120%;
	height: 70vh;
	overflow: hidden;
	z-index: -1;
}

.wave {
	width: 100%;
	height: 100%;
	display: block;
	transform: rotate(180deg);
}

.title {
	position: absolute;
	top: 50px;
	left: clamp(20px, 5vw, 60px);
	font-family: Gmarket Sans, sans-serif;
}

.title h1 {
	font-size: clamp(21px, 2vw, 28px);
	font-weight: 300;
	color: #444;
	margin-bottom: 0;
}

.title h2 {
	font-size: clamp(27px, 2vw, 36px);
	font-weight: 900;
	color: #111;
	margin-top: 0;
}

.center-404 {
	text-align: center;
	color: #ae2ee9;
	font-family: Gmarket Sans, sans-serif;
	margin-top: 60px;
	background: linear-gradient(to bottom right, rgba(212, 185, 233, 0.6), rgba(217, 164, 255, 0.6), rgba(205, 134, 255, 0.6));
	border: 2px solid rgba(255, 255, 255, 0.3); /* 흐릿한 테두리 */
	padding: 25px;
	border-radius: 20px;
	box-shadow: 0 8px 20px rgba(100, 0, 200, 0.2);
	text-align: center;
	width: clam(280px, 50vw, 600px);
	height: auto;
	position: relative;
	backdrop-filter: blur(2px);
}
.center-404 h1 {
	font-size: 128px;
	margin: 0;
	font-weight: 900;
	text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
	font-family: Pretendard, sans-serif;
	font-weight: 900;
	text-shadow: 1.5px 1.5px 3px rgb(255, 255, 255);
}
.center-404 h3 {
	font-size: 36px;
	font-weight: 700;
	margin-top: 0;
	color: #ae2ee9;
	font-family: Pretendard, sans-serif;
	font-weight: 600;
}
.center-404 p {
	font-size: 16px;
	color: white;
	margin-top: 12px;
	font-family: Pretendard, sans-serif;
	font-weight: 500;
	text-shadow: 1.5px 1.5px 3px rgba(0, 0, 0, 0.2);
}
.center-404 a button {
	margin-top: 30px;
	padding: 12px 30px;
	background-color: #ae2ee9;
	color: white;
	border: none;
	border-radius: 30px;
	font-size: 16px;
	font-weight: 600;
	cursor: pointer;
	transition: background-color 0.3s;
	text-shadow: 1.5px 1.5px 3px rgba(0, 0, 0, 0.2);
}
.center-404 a button:hover {
	background-color: #7d40df;
}

footer {
	position: absolute;
	bottom: 50px;
	font-size: 18px;
	color: #444;
}

.footer-highlight {
	font-weight: 700;
	color: black;
}

.footer-highlight a {
	color: black;
	text-decoration: none;
}
