@import url("base.css");

body {
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	flex-direction: column;
	background: linear-gradient(to bottom right, #ffffff, #f2f2f2);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	overflow-x: hidden;
}

.wave-container {
	position: absolute;
	bottom: 0;
	width: 120%;
	height: 70vh;
	overflow: hidden;
	z-index: -1;
}

.wave {
	width: 100%;
	height: 100%;
	display: block;
	transform: rotate(180deg);
}

.title {
	position: absolute;
	top: 50px;
	left: 60px;
	font-family: Gmarket Sans, sans-serif;
}

.title h1 {
	font-size: clamp(21px, 2vw, 28px);
	font-weight: 300;
	color: #444;
	margin-bottom: 0;
}

.title h2 {
	font-size: clamp(27px, 2vw, 36px);
	font-weight: 900;
	color: #111;
	margin-top: 0;
}

.login-box {
	background: linear-gradient(to bottom right, rgba(212, 185, 233, 0.6), rgba(217, 164, 255, 0.6), rgba(205, 134, 255, 0.6));
	border: 2px solid rgba(255, 255, 255, 0.3); /* 흐릿한 테두리 */
	padding: 40px;
	border-radius: 20px;
	box-shadow: 0 8px 20px rgba(100, 0, 200, 0.2);
	text-align: center;
	width: 280px;
	height: 280px;
	position: relative;
	backdrop-filter: blur(2px);
}

.login-box .icon {
	position: absolute;
	top: -35px;
	left: calc(50% - 35px);
	width: 70px;
	height: 70px;
	background: #ae2ee9;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 30px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.login-box h2 {
	margin: 10px;
	margin-bottom: 20px;
	font-size: 28px;
	color: rgba(255, 255, 255);
	font-weight: 700;
	text-shadow: 1.5px 1.5px 3px rgba(0, 0, 0, 0.2);
}

.login-box input {
	height: 24px;
	width: 240px;
	padding: 12px;
	padding-left: 24px;
	margin-bottom: 15px;
	border: none;
	border-radius: 30px;
	font-size: 14px;
	outline: none;
}

.login-box button {
	width: 276px;
	padding: 12px;
	margin-top: 20px;
	background-color: #ae2ee9;
	color: white;
	border: none;
	border-radius: 30px;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
	transition: background-color 0.3s;
}

.login-box button:hover {
	background-color: #7d40df;
}

.login-box .bottom-text {
	margin-top: 20px;
	font-size: 14px;
	color: rgba(255, 255, 255, 1);
	text-shadow: 1.5px 1.5px 3px rgba(0, 0, 0, 0.2);
}

.login-box .bottom-text a {
	text-shadow: none;
	margin-left: 8px;
	color: rgba(255, 255, 255, 1);
	text-decoration: none;
	font-weight: 600;
}

footer {
	position: absolute;
	bottom: 50px;
	font-size: 18px;
	color: #444;
}

.footer-highlight {
	font-weight: 700;
	color: black;
}

.footer-highlight a {
	color: black;
	text-decoration: none;
}
